
@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Admin/Views/Shared/_Layouts.cshtml";
    var listSinhVien = (List<Model.EF.SinhVien>)ViewBag.ListSinhVien;
    var NamHoc = int.Parse(Session["NamHoc"].ToString());
    var HocKy = int.Parse(Session["HocKy"].ToString());
    double? TienDo = 0.0;

}
<h3 style="margin-bottom: 40px; margin-top:-35px">QUẢN LÝ ĐIỂM RÈN LUYỆN</h3>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
 <div style="width:150px; float:left; display:inline-block;margin-left:40px">
        
     <select id="cmb1" onchange="Show1();" class="form-control">
         @foreach (var item in ViewBag.ListNamHoc)
         {
             <option value="@item.Id">@item.NamHoc1</option>
         }
     </select>
</div>
    <input type="text" id="inp1" name="Id_NamHoc" style="width:0px; height:0px" />
<div style="width:150px; float:left; display:inline-block;margin-left:40px">
    <select id="cmb" onchange="Show();" class="form-control">
        @foreach (var item in ViewBag.ListHocKy)
        {
            <option  value="@item.Id">@item.HocKy1</option>
        }
    </select>
</div>
    <input type="text" id="inp2" name="Id_HocKy" style="width:0px; height:0px; margin-left:4px" />
    <input type="submit" value="Xác Nhận" class="btn btn-light" />

    <div class="input-group" style="margin-top:10px">
        <div class="input-group-prepend bg-transparent">
            <input type="submit" style="margin-top: 7px; height: 45px;"  class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn input-group-text border-0 mdi mdi-magnify" href="#" value="Search" />
            
        </div>
        <input name="search_text" style="width:100px" type="text" class="form-control bg-transparent border-0 Search-Text" placeholder="Search-Text">
    </div>

    <div class="row" style="margin-top:50px">
    @foreach (var item in listSinhVien)
    {
        if ((item.DiemRenLuyens.FirstOrDefault(x => x.Id_NamHoc == NamHoc && x.Id_HocKi == HocKy)) == null)
        {
            TienDo = 0;
        }
        else { TienDo = item.DiemRenLuyens.Where(x => x.Id_NamHoc == NamHoc && x.Id_HocKi == HocKy).SingleOrDefault().TienDo; }

        <div class="col-sm-6 col-md-4">
            <div class="product__item" style="margin-left: 45px;" >

                <div class="product__item__pic set-bg" data-setbg="@item.Anh" style="border: 1px solid #c2e1fd ;
                    box-shadow: 0px 3px 15px 3px #889eaf;width:200px; height: 300px; border-radius:5%; ">

                    <ul class="product__hover">
                        <li><a href="@Url.Action("DanhGia", "Menu", @item)" ><span class="arrow_expand"></span></a></li>
                        <li><a href="@Url.Action("NguoiDung", "Menu", @item)"><span class="mdi mdi-account-card-details"></span></a></li>
                        <li><a href="@Url.Action("Index", "Home", @item.User)"><span class="mdi mdi-delete"></span></a></li>
                    </ul>
                    
                </div>
                <div class="product__item__text">
                    <h6 class="hoten" style="width:200px;">@item.HoTen</h6>
                    <h6 style="width:200px;">@item.MaSV</h6>
                </div>
                <div class="progress" style="height:4px; width:200px; background-color:white; margin-top:10px">
                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: @TienDo% " aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" ></div>
</div>



</div>




</div>


    }

        
        
</div>
}

<script type="text/javascript">
        function Show() {
            var cmb = document.getElementById("cmb");
            document.getElementById("inp2").value = cmb.value;


        }

        function Show1() {
            var cmb1 = document.getElementById("cmb1");
            document.getElementById("inp1").value = cmb1.value;


        }
</script>
