@model Model.EF.SinhVien
@{
    ViewBag.Title = "NguoiDung";
    Layout = "/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h3 style="margin-bottom: 20px; margin-top:-35px">THÔNG TIN SINH VIÊN</h3>


<div class="card">
    <div class="card-body">
        
        <h4 class="card-title"><img class="product__item__pic set-bg" style="border: 1px solid #c2e1fd ;
                    box-shadow: 0px 3px 15px 3px #889eaf;width:100px; height: 150px; border-radius:5%; " src="@Model.Anh"  class="product__item__pic set-bg"/></h4>
        
        

        <form class="form-sample" >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mã SV</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.MaSV, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Họ tên</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Giới tính</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.GioiTinh, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Ngày sinh</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.NgaySinh, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Số ĐT</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.SoDT, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nơi sinh</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.NoiSinh, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Chỗ tạm trú</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.ChoTamTru, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Chức vụ</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.ChucVu, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lớp</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.Id_Lop, null, new { htmlAttributes = new { @class = "form-control"  } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"> </label>
                        <div class="col-sm-9">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"> </label>
                        <div class="col-sm-9">
                            <div class="btn btn-light" style="width:150px">@Html.ActionLink("Cencel", "Index", "Home")</div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>








